<!DOCTYPE html>
<html>

<head>
	<title>Imperial</title>
	<link rel="stylesheet" href="/style/index.css">
	<link rel="icon" type="image/png" href="/assets/images/favicon.png">
</head>

<body>
	<div id="nav-container">
		<div id="nav">
			<div id="branding">
				<img src="assets/images/branding-logo.png" id="branding-icon">
				<span id="branding-text">Imperial</span>
			</div>
			<div id="nav-button">
				<a href="#settings-proxy" class="nav-button">Proxy Settings</a>
				<a href="#settings-autododge" class="nav-button">Autododge</a>
				<a href="#settings-appearance" class="nav-button">Appearance</a>
				<a href="#settings-accounts" class="nav-button">Account Management</a>
			</div>
		</div>
	</div>
	<div id="settings">
		<div class="settings-group" id="settings-proxy">
			<span class="group-title">Proxy Settings</span>
			<div class="group-organizer"></div>
		</div>
		<div class="settings-group" id="settings-dodge">
			<span class="group-title">Autododge</span>
			<div class="group-organizer"></div>
		</div>
		<div class="settings-group" id="settings-appearance">
			<span class="group-title">Appearance</span>
			<div class="group-organizer"></div>
		</div>
		<div class="settings-group" id="settings-accounts">
			<span class="group-title">Account Management</span>
			<div class="group-organizer"></div>
		</div>
	</div>
</body>

<script src="/scripts/index.js"></script>

</html>